@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&family=Raleway:wght@400;500;600;700;800&display=swap');

body{
    z-index: -99;
    overflow: auto;
    background-image: url(https://img.freepik.com/vetores-gratis/design-de-fundo-moderno-3d-branco_53876-88245.jpg?w=2000);
}

#gradiente{
    width: 110%;
    height: 170vh;
    margin-left: -5%;
    display: none;
}


.sub_titulo{
    font-size: 13pt;
    margin-left: 3%;
    margin-right: 3%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* #div_titulo_card{
    background-color: white;
} */

.titulo_card{
    font-size: 22pt;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}
.class_txt_resultado1{
    color: white;
    width: 90%;
    border: none;
    text-align: center;
    background-color: transparent;
    font-size: 22pt;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.class_txt_resultado{
    color: white;
    text-align: center;
    width: 100%;
    border: none;
    background-color: transparent;
    font-size: 22pt;
    font-weight: 500;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#tela_itens{
    display: none;
}

.input{
    width: 70%;
    background-color: #f5f9ff;
    border-color: black;
    color: black;
    font: bold;
    font-size: 14pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#btn_iniciar{
    height: 10%;
    padding: 5px;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12pt;
    width: 50%;
    border: none;
    color: white;
    border-radius: 10px;
    background-color: orangered;
}
#btn_iniciar:active{
    background-color: rgb(116, 31, 0);
    color: white;
}
#btn:active{
    background-color: grey;
}

.btn_voltar{
    cursor: pointer;
    font-size: 19pt;
    color: white;
    background-color: transparent;
    border: none;
}

.card{
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    color: white;
    border-radius: 5px;
    margin-top: 2%;
    margin-left: 35%;
    align-items: center;
    text-align: center;
    box-shadow: black 5px 10px 10px;
    background-color: rgb(14, 28, 39);
    width: 25%;
    height: 80%;
    position: absolute;
    z-index: 99;
}

.card_resultado{
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    color: white;
    border-radius: 3px;
    margin-top: 2%;
    margin-left: 17%;
    align-items: center;
    text-align: center;
    background-image: url(https://media.istockphoto.com/id/900352620/pt/foto/black-stainless-steel-mesh-background.jpg?s=170667a&w=0&k=20&c=QPd_7KxxGiH3XdxWT8n1TSThE6GGTaxjkoOEImN_XHE=);
    width: 60%;
    height: 75%;
    position: absolute;
    z-index: 99;
    
}

.card_plano{
    margin:-30px auto;
    margin-bottom:-50px;
    height:68%;
    width:40%;
    border-radius: 5px;
    background-color: rgb(66, 91, 122);
    box-shadow: #000000 2px 4px 5px;
    color:#fff;
    padding:20px;
}

.btn_contratar{
    cursor: pointer;
    border-color: white;
    border: groove;
    width: 50%;
    height: 15%;
    border-radius: 5px;
    font-weight: bold;
    background-color: greenyellow;
    color: rgb(0, 0, 0);
}
.btn_contratar:active{
    background-color: green;
    color: white;
}

#txt_faixa{
    color: white;
    margin-top: 150px;
}



.btn_legenda_itens{
    cursor: pointer;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 14pt;
}

.btn_resposta{
    border: none;
    border-radius: 5px;
    color: white;
    background-color: orangered;
    cursor: pointer;
    height: 5vh;
    font-weight: bold;
    width: 25%;
}

.btn_resposta:active{
    background-color: rgb(83, 22, 0);
}

.btn_card{
    height: 10vh;
    cursor: pointer;
    font-size: 14pt;
    font-weight:bold;
    width: 40%;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: orangered;
    padding: 5px;
}

.btn_card:active{
    border-color: white;
    border: solid;
    background-color: transparent;
}

#div_itens{
    text-align: left;
    padding-left: 20%;
}

@media (max-width:900px){
    .card{
        margin-top: 30%;
        height: 60%;
        width: 75%;
        margin-left: 10%;
        padding-bottom: 20px;
    }
    .btn_card{
        background-color: teal;
        width: 50%;
        height: 60px;
    }
    #btn_iniciar{
        height: 45px;
    }
    .card_plano{
        font-weight: bold;
        line-height: 35px;
        height:75%;
        width:80%;
        box-shadow: #300d0d 2px 4px 5px;
        color:#fff;
        padding:10px;
    }
    .card_resultado{
        border-radius: 10px;
        font-size: 12pt;
        margin: auto;
        margin-top: 10%;
        align-items: center;
        text-align: center;
        width: 92%;
        height: 85%;
        position: absolute;
        z-index: 99;
        
    }
}

.resposta_txt{
    background-color: transparent;
    border: none;
    color: white;
    font-weight: bold;
    width: 10%;
    text-align: center;
}

#card_inicial{
    line-height: 18px;
}
#resultado_1{
    color: white;
}